/* add home page styles here */

main {
    display: flex;
    justify-content: center;
}

h2 {
    margin-bottom: 20px;
}

section {
    width: 380px;
    border-radius: 10px;
    padding: 40px 60px;
}

input {
    margin: 5px 0;
    width: 100%;
    padding: 5px;
}

input:focus {
    outline-color: #B0C400;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}

.empty-input {
    border: solid 1px rgb(206, 40, 35);
}

span {
    font-weight: bold;
}

p {
    margin: 10px 0;
}

.hidden {
    display: none !important;
}

.shrek {
    width: 600px;
}

span {
    font-weight: bold;
}

p {
    font-weight: 300;
    margin: 0;
    line-height: 1.8;
}

button {
    background-color: #795A2D;
    border: none;
    border-radius: 2px;
    padding: 10px 15px;
    color: #D3CCA5;
    box-shadow: 0px 2px 0px #523213;
    width: 100%;
    margin-top: 30px;
    font-weight: 700;
}

button:focus {
    outline: 0;
}

#warning {
    padding-top: 10px;
    color: rgb(206, 40, 35);
}

#story-select {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding-bottom: 1rem;
}

#story-select label {
    margin-left: 1rem;
}